.topBox {
    -fx-background-color: #006d77;
}

.leftBox {
    -fx-background-color: #83c5be;
}

.button {
    -fx-background-color: #c9e7f2;
    -fx-font-size: 1.2em;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #094561;
}

.button:pressed {
    -fx-background-color: #021f38;
}

.app-name {
    -fx-font-size: 2em;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}